/**
 * app.css
 * This file is the main stylesheet of the application, where developers define
 * common styles and look and feel aspects of the pages within the MiniApp. 
 */ 

div {
    background-color: yellow;
    color: #000000;
}